:root{
    --culoare_primara:#ebeced;
    --culoare_secundara:#7dafff;
    --text:#3a3333;
    --accent:#042252;
}

:root {
    --backgroundContainer:whitesmoke;  /* Default (light mode) */
    --hoverColor: #bffff6;
    --borderColor:#ddd;
    --thColor:#f4f4f4;
    --evenColor:#d5f2f3;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --backgroundContainer:#1A1A1A;  /* Default (light mode) */
        --hoverColor: #042252;
        --borderColor:#444;
        --thColor:#222831;
        --evenColor:#393e46;
    }
}



body {
    background-color: var(--culoare_primara);
    color: var(--text);
    
  }

  @media screen and (prefers-color-scheme: dark) {
    body {
      background-color: var(--accent);
      color: var(--culoare_primara);
    }


  }


.content_leader{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--backgroundContainer);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

h2{
    font-size:xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    text-align: center;
}

.pozitii{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    @media screen and (max-width: 768px){
        flex-direction: column;
    }
}

.pozitie{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 30%;
    @media screen and (max-width: 768px){
        width: 100%;
    }
}

.pozitie:hover{
    background-color: var(--hoverColor);
    border-radius: 5px;
}

.tabelul{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}

.navigareTabel{
    display: flex;
    justify-content: right;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid var(--borderColor);
  }
  
  th {
    background-color: var(--thColor);
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: var(--evenColor);
  }
  
  tr:hover {
    background-color: var(--hoverColor);
  }
  