:root {
    --backgroundContainer:whitesmoke;  /* Default (light mode) */
    --hoverColor: #bffff6;
    --borderColor:#ddd;
    --thColor:#f4f4f4;
    --evenColor:#d5f2f3;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --backgroundContainer:#1A1A1A;  /* Default (light mode) */
        --hoverColor: #042252;
        --borderColor:#444;
        --thColor:#222831;
        --evenColor:#393e46;
    }
}

.div_profil {
    width: 100;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.nelogat{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundContainer);
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logat{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundContainer);
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.legaleza{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
}

.linie{
    width: 100%;
}

input{
    width: 100%;
}