:root {
    --backgroundContainer:whitesmoke;  /* Default (light mode) */
    --hoverColor: #bffff6;
    --borderColor:#ddd;
    --thColor:#f4f4f4;
    --evenColor:#d5f2f3;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --backgroundContainer:#1A1A1A;  /* Default (light mode) */
        --hoverColor: #042252;
        --borderColor:#444;
        --thColor:#222831;
        --evenColor:#393e46;
    }
}

.container_wrapper{
    padding: 50px;
    background-color: var(--backgroundContainer);
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.wrapper{
    width: 100%;
    display: flex;  
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.carousel {
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto a new row */
    justify-content:space-evenly; /* Centers icons horizontally */
    align-items: center; /* Centers icons vertically */
    align-content: center; /* Centers multiple rows within the container */
    gap: 10px; /* Adds space between icons */
    text-align: center; /* Ensures content inside aligns properly */
}




.social_item{
    size:110%;
    margin: 10px;    
    
    
}

@media (prefers-color-scheme: dark) {
    .social_item {
        filter: invert(1);
    }
}




.social_item:hover{
    margin: 30px;
}


.caruselWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}