:root{
    --culoare_primara:#ebeced;
    --culoare_secundara:#7dafff;
    --text:#3a3333;
    --accent:#042252;
}

.header{
    background-color: var(--culoare_secundara);
    color: var(--text);
    margin: 0;
    padding: 0; 
    top: 0;
}


.linkuri_header{
    display: flex;
    justify-content: center;
    
    padding-top: 20px;
    color: var(--text);
    font-size: 1rem;
}

.link_header :hover{
    background-color: rgb(216, 240, 237);
    color: var(--culoare_secundara);
    border-radius: 5px;
}

.footer{
    background-color: var(--culoare_secundara);
    color: var(--text);
    margin: 0;
    padding: 0; 
    bottom: 0;
    justify-content: center;
    position:absolute;
    bottom:0;
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.linkuri_footer{
    display: flex;
    
    justify-content: center;
    
    padding-top: 20px;
    color: var(--text);
    font-size: 1rem
}

.utilizator{
    @media screen and (max-width: 768px){
        display: none;
    }
}

.hamburger{
    display: none;

    @media screen and (max-width: 768px){
        display: block;
    }

}

.link_header{
    display: flex;
    justify-content: center;
    
    margin: 15px;
    color: var(--text);
    font-size: 2rem

}


.utilizator{
    float: right;
    padding: 5px;
}

.login_log-out{
    float: right;
    padding: 5px;
}

.imaginesilogin{
    float: right;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.linkuri_footer{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    color: var(--text);
    font-size: 1.5rem;
}

.link_footer
{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-left: 10px;
    color: var(--text);
    font-size: 1.25rem;
}

.link_footer :hover{
    background-color: rgb(216, 240, 237);
    color: var(--culoare_secundara);
    border-radius: 5px;
}

.drepturi{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    color: var(--text);
    font-size: 1rem;
}

