:root{
    --culoare_primara:#ebeced;
    --culoare_secundara:#7dafff;
    --text:#303030;
    --accent:#001942;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--culoare_primara);
    color: var(--text);
  }

  @media screen and (prefers-color-scheme: dark) {
    body {
      background-color: var(--accent);
      color: var(--culoare_primara);
    }


  }

.header{
    background-color: var(--culoare_secundara);
    color: var(--text);
    margin: 0;
    padding: 0; 
    top: 0;
}

h1{
    font-size: 2rem;
    text-align: center;
    padding-top: 50px;
    font-size: 5rem;
}

.linkuri_header{
    display: flex;
    justify-content: center;
    
    padding-top: 20px;
    color: var(--text);
    font-size: 1rem
}

.footer{
    background-color: var(--culoare_secundara);
    color: var(--text);
    margin: 0;
    padding: 0; 
    bottom: 0;
    justify-content: center;
    position:absolute;
    bottom:0;
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.linkuri_footer{
    display: flex;
    
    justify-content: center;
    
    padding-top: 20px;
    color: var(--text);
    font-size: 1rem
}